body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.video-browser-header {
  font-size: 50px;
  line-height: 100%;
  margin-top: 2px;
  background-color: lightblue;
  background-position: center;
}

.video-browser-search {
  margin: 100px;
  margin-left: 500px;
  margin-top: 10px;
  width: 100px;
  size: 100px;
}

.video-browser-item-one-title {
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
}

.video-browser-item-one-description {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  margin-right: 15%;
  margin-bottom: 25%;
}

.video-browser-item-one {
  position: center;
}

.video-browser-item-rest {
  margin-bottom: 10%;
  margin-left: 50%;
  margin-top: 10%;
}
